body {
	padding: 0;
	background-color: #808080;
	color: #000;
}

#header, article {
	width: 80%;
	border-radius: 0.5em;
	padding: 0.75em;
	margin: 0.5em;
	font-size: 0.75em;
}

#header {
	background-color: #a9a9a9;
}

article {
	background-color: #d3d3d3;
	overflow: hidden;
}

p {
	-webkit-transition: color 0.4s, background-color 0.4s left 2.4s;
}

.change {
	border-radius: 0.5em;
	color: orange;
	background-color: white;
	-webkit-transform: matrix(1, -0.2, 0, 1, 0, 0);	
}